# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [2]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [3]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

### Q1

In [4]:

limit = 5
generator = square_root_generator(limit)

value=0

for sqrt_value in generator:
    value+=sqrt_value

print(value)

8.382332347441762

> Answer: 8.382

### Q2

In [10]:
limit = 13
generator = square_root_generator(limit)

value=[]

for sqrt_value in generator:
     value.append(sqrt_value)

value[12]

3.605551275463989

> Answer: 3.605

### Q3

#### Create pipeline

In [12]:
import dlt

gen_pipeline=dlt.pipeline(destination='duckdb',dataset_name='gen_one')

gen_pipeline

#### First generator load

In [13]:
info=gen_pipeline.run(
    people_1(),
    table_name='people',
    write_disposition='replace'
)

info

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x7a1f7610afe0>, metrics={'1707457168.6559727': [{'started_at': DateTime(2024, 2, 9, 5, 39, 29, 98109, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 9, 5, 39, 29, 504840, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:////content/dlt_colab_kernel_launcher.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='gen_one', loads_ids=['1707457168.6559727'], load_packages=[LoadPackageInfo(load_id='1707457168.6559727', package_path='/var/dlt/pipelines/dlt_colab_kernel_launcher/load/loaded/1707457168.6559727', state='loaded', schema=Schema dlt_colab_kernel_launcher at 134274600348752, schema_update={'people': {'name': 'people', 'columns': {'id': {'name': 'id', 'data_type': 'bigint', 'nullable': True}, 'name': {'name': 'name', 'data_type': 'text', 'nullable': True}, 'age': {'name': 'age', 'data_type': 'bigint', 'nullable': True}, 'city': {'name': 'city', 'data_type': 'text', 'nullable': True}, '_dlt_load_id': {'name': '_dlt_load_id', 'data_type': 'text', 'nullable': False}, '_dlt_id': {'name': '_dlt_id', 'data_type': 'text', 'nullable': False, 'unique': True}}, 'write_disposition': 'replace', 'resource': 'people', 'table_format': None}, '_dlt_loads': {'name': '_dlt_loads', 'columns': {'load_id': {'name': 'load_id', 'data_type': 'text', 'nullable': False}, 'schema_name': {'name': 'schema_name', 'data_type': 'text', 'nullable': True}, 'status': {'name': 'status', 'data_type': 'bigint', 'nullable': False}, 'inserted_at': {'name': 'inserted_at', 'data_type': 'timestamp', 'nullable': False}, 'schema_version_hash': {'name': 'schema_version_hash', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'skip', 'resource': '_dlt_loads', 'description': 'Created by DLT. Tracks completed loads', 'table_format': None}, '_dlt_version': {'name': '_dlt_version', 'columns': {'version': {'name': 'version', 'data_type': 'bigint', 'nullable': False}, 'engine_version': {'name': 'engine_version', 'data_type': 'bigint', 'nullable': False}, 'inserted_at': {'name': 'inserted_at', 'data_type': 'timestamp', 'nullable': False}, 'schema_name': {'name': 'schema_name', 'data_type': 'text', 'nullable': False}, 'version_hash': {'name': 'version_hash', 'data_type': 'text', 'nullable': False}, 'schema': {'name': 'schema', 'data_type': 'text', 'nullable': False}}, 'write_disposition': 'skip', 'resource': '_dlt_version', 'description': 'Created by DLT. Tracks schema updates', 'table_format': None}, '_dlt_pipeline_state': {'columns': {'version': {'name': 'version', 'data_type': 'bigint', 'nullable': False}, 'engine_version': {'name': 'engine_version', 'data_type': 'bigint', 'nullable': False}, 'pipeline_name': {'name': 'pipeline_name', 'data_type': 'text', 'nullable': False}, 'state': {'name': 'state', 'data_type': 'text', 'nullable': False}, 'created_at': {'name': 'created_at', 'data_type': 'timestamp', 'nullable': False}, 'version_hash': {'name': 'version_hash', 'data_type': 'text', 'nullable': True}, '_dlt_load_id': {'name': '_dlt_load_id', 'data_type': 'text', 'nullable': False}, '_dlt_id': {'name': '_dlt_id', 'data_type': 'text', 'nullable': False, 'unique': True}}, 'write_disposition': 'append', 'name': '_dlt_pipeline_state', 'resource': '_dlt_pipeline_state', 'table_format': None}}, completed_at=DateTime(2024, 2, 9, 5, 39, 29, 490608, tzinfo=Timezone('UTC')), jobs={'started_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='/var/dlt/pipelines/dlt_colab_kernel_launcher/load/loaded/1707457168.6559727/completed_jobs/_dlt_pipeline_state.1d36b14d1f.0.insert_values', file_size=540, created_at=DateTime(2024, 2, 9, 5, 39, 28, 764532, tzinfo=Timezone('UTC')), elapsed=0.7260758876800537, job_file_info=ParsedLoadJobFileName(table_name='_dlt_pipeline_state', file_id='1d36b14d1f', retry_count=0, file_format='insert_values'), failed_message=None), LoadJobInfo(state='completed_jobs', file_path='/var/dlt/pipelines/dlt_colab_kernel_launcher/load/loaded/1707457168.6559727/completed_jobs/people.a9262b3e81.0.insert_values', file_size=284, created_at=DateTime(2024, 2, 9, 5, 39, 28, 764532, tzinfo=Timezone('UTC')), elapsed=0.7260758876800537, job_file_info=ParsedLoadJobFileName(table_name='people', file_id='a9262b3e81', retry_count=0, file_format='insert_values'), failed_message=None)], 'failed_jobs': [], 'new_jobs': []})], first_run=True)

#### Checking data after first generator load

In [18]:
import duckdb

conn = duckdb.connect(f"{gen_pipeline.pipeline_name}.duckdb")

conn.sql(f"SET search_path = '{gen_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

print('\n\n\n All data:')
display(conn.sql("select * from people"))


print('\n\n\n Cumulative age of all people:')
display(conn.sql("select sum(age) cumulative_age from people"))

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
└─────────────────────┘

 All data:

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707457168.6559727 │ EWsfXkwLfrUP4Q │
│     2 │ Person_2 │    27 │ City_A  │ 1707457168.6559727 │ CVRFZOAySysjTg │
│     3 │ Person_3 │    28 │ City_A  │ 1707457168.6559727 │ Xs53y2uNYm8Z9w │
│     4 │ Person_4 │    29 │ City_A  │ 1707457168.6559727 │ Pd/v6P+t0BvNcw │
│     5 │ Person_5 │    30 │ City_A  │ 1707457168.6559727 │ k2DnKKGg7oQynA │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┘

 Cumulative age of all people:

┌────────────────┐
│ cumulative_age │
│     int128     │
├────────────────┤
│            140 │
└────────────────┘

### Second generator load and append

In [19]:
info2=gen_pipeline.run(
    people_2(),
    table_name='people',
    write_disposition='append'
)

info2

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x7a1f7610afe0>, metrics={'1707457821.6665888': [{'started_at': DateTime(2024, 2, 9, 5, 50, 22, 50041, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 9, 5, 50, 22, 301606, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:////content/dlt_colab_kernel_launcher.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='gen_one', loads_ids=['1707457821.6665888'], load_packages=[LoadPackageInfo(load_id='1707457821.6665888', package_path='/var/dlt/pipelines/dlt_colab_kernel_launcher/load/loaded/1707457821.6665888', state='loaded', schema=Schema dlt_colab_kernel_launcher at 134274479446848, schema_update={'people': {'name': 'people', 'columns': {'occupation': {'name': 'occupation', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'append', 'resource': 'people', 'table_format': None}}, completed_at=DateTime(2024, 2, 9, 5, 50, 22, 290304, tzinfo=Timezone('UTC')), jobs={'started_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='/var/dlt/pipelines/dlt_colab_kernel_launcher/load/loaded/1707457821.6665888/completed_jobs/people.468617ad1f.0.insert_values', file_size=321, created_at=DateTime(2024, 2, 9, 5, 50, 21, 715244, tzinfo=Timezone('UTC')), elapsed=0.5750603675842285, job_file_info=ParsedLoadJobFileName(table_name='people', file_id='468617ad1f', retry_count=0, file_format='insert_values'), failed_message=None)], 'failed_jobs': [], 'new_jobs': []})], first_run=False)

#### Checking data after loading secodn generator

In [20]:
print('\n\n\n All data:')
display(conn.sql("select * from people"))


print('\n\n\n Cumulative age of all people:')
display(conn.sql("select sum(age) cumulative_age from people"))

 All data:

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707457168.6559727 │ EWsfXkwLfrUP4Q │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707457168.6559727 │ CVRFZOAySysjTg │ NULL       │
│     3 │ Person_3 │    28 │ City_A  │ 1707457168.6559727 │ Xs53y2uNYm8Z9w │ NULL       │
│     4 │ Person_4 │    29 │ City_A  │ 1707457168.6559727 │ Pd/v6P+t0BvNcw │ NULL       │
│     5 │ Person_5 │    30 │ City_A  │ 1707457168.6559727 │ k2DnKKGg7oQynA │ NULL       │
│     3 │ Person_3 │    33 │ City_B  │ 1707457821.6665888 │ pOOoegddQA2lYg │ Job_3      │
│     4 │ Person_4 │    34 │ City_B  │ 1707457821.6665888 │ DASN3ct4kBdVdg │ Job_4      │
│     5 │ Person_5 │    35 │ City_B  │ 1707457821.6665888 │ UpdznOzNFualaA │ Job_5      │
│     6 │ Person_6 │    36 │ City_B  │ 1707457821.6665888 │ y6wF2OtrwTWnWA │ Job_6      │
│     7 │ Person_7 │    37 │ City_B  │ 1707457821.6665888 │ 2mL8fdaxQEmvyg │ Job_7      │
│     8 │ Person_8 │    38 │ City_B  │ 1707457821.6665888 │ 2LNPG1Yd/i7N6g │ Job_8      │
├───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┤
│ 11 rows                                                                     7 columns │
└───────────────────────────────────────────────────────────────────────────────────────┘

 Cumulative age of all people:

┌────────────────┐
│ cumulative_age │
│     int128     │
├────────────────┤
│            353 │
└────────────────┘

> Answer: 353

### Q4

#### Load data from both generator and merge

In [23]:
info3=gen_pipeline.run(
    people_1(),
    table_name='people_merged',
    write_disposition='replace',
    primary_key='id'
)

print(info3)

info4=gen_pipeline.run(
    people_2(),
    table_name='people_merged',
    write_disposition='merge',
    primary_key='id'
)

print(info4)

Pipeline dlt_colab_kernel_launcher load step completed in 0.24 seconds
1 load package(s) were loaded to destination duckdb and into dataset gen_one
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1707458319.3849347 is LOADED and contains no failed jobs
Pipeline dlt_colab_kernel_launcher load step completed in 0.43 seconds
1 load package(s) were loaded to destination duckdb and into dataset gen_one
The duckdb destination used duckdb:////content/dlt_colab_kernel_launcher.duckdb location to store data
Load package 1707458320.0688035 is LOADED and contains no failed jobs

#### Check the tables

In [24]:
print('\n\n\n All data:')
display(conn.sql("select * from people_merged"))


print('\n\n\n Cumulative age of all people:')
display(conn.sql("select sum(age) cumulative_age from people_merged"))

 All data:

┌───────┬──────────┬───────┬─────────┬────────────────────┬────────────────┬────────────┐
│  id   │   name   │  age  │  city   │    _dlt_load_id    │    _dlt_id     │ occupation │
│ int64 │ varchar  │ int64 │ varchar │      varchar       │    varchar     │  varchar   │
├───────┼──────────┼───────┼─────────┼────────────────────┼────────────────┼────────────┤
│     1 │ Person_1 │    26 │ City_A  │ 1707458319.3849347 │ J1SavY6R1B0j2w │ NULL       │
│     2 │ Person_2 │    27 │ City_A  │ 1707458319.3849347 │ NWnf8e94ziZQ8Q │ NULL       │
│     5 │ Person_5 │    35 │ City_B  │ 1707458320.0688035 │ Hzj9LpEp5l1m5Q │ Job_5      │
│     8 │ Person_8 │    38 │ City_B  │ 1707458320.0688035 │ v2phlWm2ZVwlqQ │ Job_8      │
│     7 │ Person_7 │    37 │ City_B  │ 1707458320.0688035 │ kxTLwGmj19mpsw │ Job_7      │
│     4 │ Person_4 │    34 │ City_B  │ 1707458320.0688035 │ cY++ZtzA/MOXaw │ Job_4      │
│     3 │ Person_3 │    33 │ City_B  │ 1707458320.0688035 │ TRkXkfhb9sNb8w │ Job_3      │
│     6 │ Person_6 │    36 │ City_B  │ 1707458320.0688035 │ 2O4drgaUQpRkug │ Job_6      │
└───────┴──────────┴───────┴─────────┴────────────────────┴────────────────┴────────────┘

 Cumulative age of all people:

┌────────────────┐
│ cumulative_age │
│     int128     │
├────────────────┤
│            266 │
└────────────────┘

> Answer: 266